<?xml version="1.0" encoding="utf-8"?>
<!-- Copy this file to Web.config and fill in the values. Web.config is git-ignored. -->
<configuration>
  <connectionStrings>
    <add name="AidifyDB"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=AidifyDB;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="GeminiApiKey"       value="YOUR_GEMINI_API_KEY_HERE" />
    <add key="SmtpUser"           value="YOUR_GMAIL_ADDRESS_HERE" />
    <add key="SmtpPass"           value="YOUR_GMAIL_APP_PASSWORD_HERE" />
    <add key="RecaptchaSiteKey"   value="YOUR_RECAPTCHA_SITE_KEY_HERE" />
    <add key="RecaptchaSecretKey" value="YOUR_RECAPTCHA_SECRET_KEY_HERE" />
    <add key="SiteUrl"            value="https://localhost:44300" />
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Auth/Login.aspx" timeout="60" />
    </authentication>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="51200" />
    <sessionState timeout="60" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
